@import 'helper/variables';
@import 'base/reset';
@import 'base/typography';
@import 'helper/mixins';
@import 'layout/menu';
@import 'layout/hero';
@import 'layout/image';

//mobile first
body {
  //color: red;
}
//menu component
.Header {
  text-align: center;
}
//hero component
.Hero {
  @include cover-background(
    $img-uri: '../../images/banner2.jpg'
  );
}


@include respond-to('small') {
  body {
    //color: blue;
  }
}
@include respond-to('medium') {
  body {
    //color: yellow;
  }
  .Hero {
    @include cover-background(
      $img-uri: '../../images/banner.jpg'
    );
  }
}
@include respond-to('large') {
  body {
    //color: green;
  }
  @include cover-background(
    $img-uri: '../../images/banner.jpg'
  );
}
