.Content {
  border-top: 1px solid;
  padding: 3% 0;
  &-tile {
    @extend %clearfix;
    margin: 0 3% 5%;
  }
  &-img {
    width: 100%;
  }
  &-title {
    font-size: $fontxl;
  }
  &-post {
    font-size: $fontxs;
  }
}
@include respond-to('small') {
  .Content {
    &-img {
      float: left;
      margin-right: 3%;
      width: auto;
    }
    &-tile {
      margin: 0 3% 5%;
    }
  }
}
